.center
{
    text-align: center;
}

.homebg
{
    background-image: url("paxdul.jpg");
    color: white;
    
}
fltlt.
{
    float:  left;
}
.fltrt
{
    float: right;
}
.ltimg
{
    float: left;
}

.rtimg
{
    float: left;
}